# find SchoolWork/ -size +50M
Courses/2016-10/Image processing/ImageJ/ImageJ.app
Courses/2016-10/Image processing/ImageJ/jre
Courses/2016-10/Image processing/ImageJ/luts
Courses/2016-10/Image processing/ImageJ/macros
Courses/2016-10/Image processing/ImageJ/plugins/3D
Courses/2016-10/Image processing/ImageJ/plugins/Graphics
Courses/2016-10/Image processing/ImageJ/plugins/Scripts
Courses/2016-10/Image processing/ImageJ/plugins/jars
Courses/2016-10/Image processing/ImageJ/plugins/Analyze
Courses/2016-10/Image processing/ImageJ/plugins/Examples
Courses/2016-10/Image processing/ImageJ/plugins/Input-Output
Courses/2016-10/Image processing/ImageJ/plugins/Stacks
Courses/2016-10/Image processing/ImageJ/plugins/Color
Courses/2016-10/Image processing/ImageJ/plugins/Filters
Courses/2016-10/Image processing/ImageJ/plugins/README.txt
Courses/2016-10/Image processing/ImageJ/plugins/Tools
Courses/2016-10/Image processing/ImageJ/plugins/DIP/*.class
Courses/2016-10/Image processing/labs/